# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Downloads\TPO4_PH_S21057\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
